section{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
button{
    background-color: rgb(115, 115, 255);
    margin-bottom: 20px;
}
.card{
    width: 15%;
    margin: 10px;
}